.frame03-container {
  min-height: 100vh;
}
.frame03-frame03 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame03-frame01 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(249, 249, 249, 1);
}
.frame03-header {
  top: 44px;
  left: 0px;
  width: 390px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame03-room-design3d {
  top: 9px;
  left: 25px;
  width: 280px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame03-text {
  color: rgba(22, 22, 22, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame03-reset {
  top: 13px;
  left: 313px;
  width: 18px;
  height: 19px;
  position: absolute;
}
.frame03-fluentline {
  top: 13px;
  left: 345px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.frame03-systemlightstatusbardefault {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame03-text2 {
  top: 14px;
  left: 25px;
  color: var(--dl-color-default-black);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame03-battery {
  top: 17px;
  left: 340.70001220703125px;
  width: 24.32803726196289px;
  height: 11.333333015441895px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame03-border {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.6666667461395264px;
}
.frame03-cap {
  top: 3.666666030883789px;
  left: 23px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.frame03-capacity {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 7px;
  position: absolute;
  border-color: transparent;
  border-radius: 1.3333333730697632px;
}
.frame03-wifi {
  top: 17.3306884765625px;
  left: 321px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.frame03-cellular-connection {
  top: 17.666656494140625px;
  left: 299px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.frame03-image1 {
  top: 88px;
  left: 0px;
  width: 390px;
  height: 459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame03-rectangle3 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 530px;
  position: absolute;
  border-color: transparent;
}
.frame03-livingroominteriorwallmockupwarmtoneswithleatherso {
  top: -6px;
  left: -26px;
  width: 438px;
  height: 530px;
  position: absolute;
  border-color: transparent;
}
.frame03-upper-slider {
  top: 564px;
  left: 0px;
  width: 390px;
  height: 283px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px 0 0;
}
.frame03-furnichure {
  top: 594px;
  left: 85px;
  width: 220px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 90, 80, 1);
}
.frame03-text4 {
  top: 4px;
  left: 19px;
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame03-right-arrow {
  top: 594px;
  left: 350px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.frame03-systemlighthomeindicator {
  top: 810px;
  left: 0px;
  width: 390px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame03-home-indicator {
  top: 21px;
  left: 128px;
  width: 134px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.frame03-innerfeachure {
  top: 633.700439453125px;
  left: 25px;
  width: 340px;
  height: 100.29953002929688px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame03-inner-feachure-box {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 100.29953002929688px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame03-union {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 100px;
  position: absolute;
}
.frame03-text6 {
  top: 45.299560546875px;
  left: 12px;
  color: rgba(22, 22, 22, 1);
  width: 316px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
