.frame01-container {
  min-height: 100vh;
}
.frame01-frame01 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame01-frame011 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(249, 249, 249, 1);
}
.frame01-header {
  top: 44px;
  left: 0px;
  width: 390px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame01-room-design3d {
  top: 9px;
  left: 25px;
  width: 280px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame01-text {
  color: rgba(22, 22, 22, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame01-reset {
  top: 13px;
  left: 313px;
  width: 18px;
  height: 19px;
  position: absolute;
}
.frame01-fluentline {
  top: 12px;
  left: 350px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.frame01-systemlightstatusbardefault {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame01-text02 {
  top: 14px;
  left: 25px;
  color: var(--dl-color-default-black);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame01-battery {
  top: 17px;
  left: 340.70001220703125px;
  width: 24.32803726196289px;
  height: 11.333333015441895px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame01-border {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.6666667461395264px;
}
.frame01-cap {
  top: 3.666666030883789px;
  left: 23px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.frame01-capacity {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 7px;
  position: absolute;
  border-color: transparent;
  border-radius: 1.3333333730697632px;
}
.frame01-wifi {
  top: 17.3306884765625px;
  left: 321px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.frame01-cellular-connection {
  top: 17.666656494140625px;
  left: 299px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.frame01-image1 {
  top: 88px;
  left: 0px;
  width: 390px;
  height: 459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame01-rectangle3 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 530px;
  position: absolute;
  border-color: transparent;
}
.frame01-livingroominteriorwallmockupwarmtoneswithleatherso {
  top: -6px;
  left: -26px;
  width: 438px;
  height: 530px;
  position: absolute;
  border-color: transparent;
}
.frame01-upper-slider {
  top: 564px;
  left: 0px;
  width: 390px;
  height: 283px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px 40px 0 0;
}
.frame01-furnichure {
  top: 594px;
  left: 86px;
  width: 220px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 90, 80, 1);
}
.frame01-text04 {
  top: 4px;
  left: 19px;
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame01-right-arrow {
  top: 594px;
  left: 320px;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.frame01-systemlighthomeindicator {
  top: 810px;
  left: 0px;
  width: 390px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame01-home-indicator {
  top: 21px;
  left: 128px;
  width: 134px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.frame01-innerfeachure {
  top: 633.700439453125px;
  left: 25px;
  width: 341px;
  height: 180.29953002929688px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame01-inner-feachure-box {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 180.29953002929688px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame01-union {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 180px;
  position: absolute;
}
.frame01-text06 {
  top: 24.299560546875px;
  left: 11px;
  color: rgba(22, 22, 22, 1);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.frame01-chair {
  top: 140.299560546875px;
  left: 120px;
  width: 103.33000183105469px;
  height: 30px;
  display: flex;
  padding: 0px;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame01-text11 {
  top: 4px;
  left: 4px;
  color: rgba(22, 22, 22, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
