.frame62-container {
  min-height: 100vh;
}
.frame62-frame62 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame62-frame01 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(249, 249, 249, 1);
}
.frame62-header {
  top: 44px;
  left: 0px;
  width: 390px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame62-room-design3d {
  top: 9px;
  left: 25px;
  width: 280px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame62-text {
  color: rgba(22, 22, 22, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame62-reset {
  top: 13px;
  left: 313px;
  width: 18px;
  height: 19px;
  position: absolute;
}
.frame62-systemlightstatusbardefault {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame62-text02 {
  top: 14px;
  left: 25px;
  color: var(--dl-color-default-black);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame62-battery {
  top: 17px;
  left: 340.70001220703125px;
  width: 24.32803726196289px;
  height: 11.333333015441895px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-border {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.6666667461395264px;
}
.frame62-cap {
  top: 3.666666030883789px;
  left: 23px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.frame62-capacity {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 7px;
  position: absolute;
  border-color: transparent;
  border-radius: 1.3333333730697632px;
}
.frame62-wifi {
  top: 17.3306884765625px;
  left: 321px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.frame62-cellular-connection {
  top: 17.666656494140625px;
  left: 299px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.frame62-image1 {
  top: 88px;
  left: 0px;
  width: 390px;
  height: 459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame62-rectangle3 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 530px;
  position: absolute;
  border-color: transparent;
}
.frame62-livingroominteriorwallmockupwarmtoneswithleatherso {
  top: -6px;
  left: -26px;
  width: 438px;
  height: 530px;
  position: absolute;
  border-color: transparent;
}
.frame62-upper-slider {
  top: 564px;
  left: 0px;
  width: 390px;
  height: 283px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px 40px 0 0;
}
.frame62-furnichure {
  top: 594px;
  left: 85px;
  width: 220px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 90, 80, 1);
}
.frame62-text04 {
  top: 4px;
  left: 19px;
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-innerfeachure {
  top: 633.700439453125px;
  left: 25px;
  width: 340px;
  height: 100.29953002929688px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-inner-feachure-box {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 100.29953002929688px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-union {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 100px;
  position: absolute;
}
.frame62-frame-table {
  top: 60.299560546875px;
  left: 118px;
  width: 103.33000183105469px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame62-chair {
  top: 60.299530029296875px;
  left: 10px;
  width: 103.33000183105469px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 90, 80, 1);
}
.frame62-text06 {
  top: 4px;
  left: 4px;
  color: rgba(255, 255, 255, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-window-blinds {
  top: 60.299530029296875px;
  left: 227px;
  width: 103.33000183105469px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame62-window-blinds1 {
  top: 20.299530029296875px;
  left: 227px;
  width: 103.33000183105469px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame62-text08 {
  top: 4px;
  left: 4px;
  color: rgba(22, 22, 22, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-chair1 {
  top: 20.299560546875px;
  left: 10px;
  width: 103.33000183105469px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame62-text10 {
  top: 4px;
  left: 4px;
  color: rgba(22, 22, 22, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-frame-table1 {
  top: 20.299560546875px;
  left: 118px;
  width: 103.33000183105469px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame62-text12 {
  top: 4px;
  left: 4px;
  color: rgba(22, 22, 22, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-select-similar {
  top: 634px;
  left: 25px;
  width: 340px;
  height: 180px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-dragableboxsqauar {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 180px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-union1 {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 180px;
  position: absolute;
}
.frame62-rectangle7 {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 25px;
  position: absolute;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05000000074505806) ;
}
.frame62-cross {
  top: 5px;
  left: 318px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.frame62-text14 {
  top: 2px;
  left: 104px;
  color: rgba(255, 90, 80, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-tableoptions {
  top: 39px;
  left: 15px;
  width: 311.0001525878906px;
  height: 99px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-brown {
  top: 0px;
  left: 0px;
  width: 90.1029281616211px;
  height: 99px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.frame62-office-chair-p-n-g-transparent-image1 {
  top: 3px;
  left: 11px;
  width: 69px;
  height: 93px;
  position: absolute;
  border-color: transparent;
}
.frame62-dark-brown {
  top: 0px;
  left: 110.4486083984375px;
  width: 90.1029281616211px;
  height: 99px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.frame62-pngcliparteamesloungechairtablediningroomfurniture {
  top: -1px;
  left: -5.4482421875px;
  width: 103px;
  height: 103px;
  position: absolute;
  border-color: transparent;
}
.frame62-beige {
  top: 0px;
  left: 220.897216796875px;
  width: 90.1029281616211px;
  height: 99px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.frame62-pngtransparentchaircomfortfurniturecommodecomforta {
  top: -2px;
  left: -7.8974609375px;
  width: 105px;
  height: 105px;
  position: absolute;
  border-color: transparent;
}
.frame62-chai-name {
  top: 148px;
  left: 15px;
  width: 94px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-checkbox {
  top: 2px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.frame62-text16 {
  left: 19px;
  color: rgba(22, 22, 22, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-text18 {
  top: 10px;
  left: 19px;
  color: rgba(255, 90, 80, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-chai-name1 {
  top: 148px;
  left: 125px;
  width: 94px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-checkbox1 {
  top: 2px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.frame62-text20 {
  left: 19px;
  color: rgba(22, 22, 22, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-text22 {
  top: 10px;
  left: 19px;
  color: rgba(255, 90, 80, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-chai-name2 {
  top: 148px;
  left: 235px;
  width: 94px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame62-checkbox2 {
  top: 2px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.frame62-text24 {
  left: 19px;
  color: rgba(22, 22, 22, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-text26 {
  top: 10px;
  left: 19px;
  color: rgba(255, 90, 80, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.frame62-left-arrow {
  top: 594px;
  left: 40px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.frame62-right-arrow {
  top: 594px;
  left: 350px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.frame62-systemlighthomeindicator {
  top: 810px;
  left: 0px;
  width: 390px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame62-home-indicator {
  top: 21px;
  left: 128px;
  width: 134px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.frame62-fluentline {
  top: 56px;
  left: 345px;
  width: 20px;
  height: 20px;
  position: absolute;
}
